</body>
<script>
    document.getElementById('mobile-menu').addEventListener('click', () => {
        document.getElementById('main-wrapper').classList.add('menu-open');
    });
    document.getElementById('main-wrapper').addEventListener('click', () => {
        document.getElementById('main-wrapper').classList.remove('menu-open');
    });
</script>
</html>
